.vscode
__pycache__

*.bak
data/CPSC
data/**/*.mat
data/**/*.hea
data/**/*.csv
data/PTB_XL/**/*.hea
data/PTB_XL/**/*.dat
imgs/*.png
models/*.pth
results_CPSC/*.png
results_CPSC/*.csv
results_CPSC/*.npy
results_CPSC/*.txt
logs/ecg-*
logs/*.log
logs/*.csv
shap/*.png
plots/*.png
