.vscode
__pycache__

*.bak
data/CPSC
data/**/*.mat
data/**/*.hea
data/**/*.csv
data/**/RECORDS
imgs/*.png
models/*.pth
models/*.pkl
results_CPSC/*.png
results_CPSC/*.csv
results_CPSC/*.npy
results_CPSC/*.txt
logs/ecg-*
logs/*.log
logs/*.csv
shap/**/*.png
plots/*.png
PTB_XL_notes.txt